APIFY_TOKEN=
APIFY_ACTOR_ID=shu8hvrXbJbY3Eb9W
APIFY_INPUT_JSON={"directUrls":["https://www.instagram.com/explore/tags/terremoto/","https://www.instagram.com/explore/tags/sismo/","https://www.instagram.com/explore/tags/venezuela/"],"resultsType":"posts","resultsLimit":50}

POLL_SECONDS=120
DATABASE_PATH=data/social_scraper.sqlite3
HOST=127.0.0.1
PORT=8000
